@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;

  --color-primary: #40ad91;
  --color-secondary: #8a79f1;
  --color-tertiary: #ddfe86;
  --color-quaternary: #369c82;
  --color-text: #fff;
  --color-text-secondary: #e6f1f0;

  --color-brand-50: oklch(96.94% 0.013 179.47);
  --color-brand-100: oklch(93.42% 0.029 177.7);
  --color-brand-200: oklch(87.52% 0.053 178.34);
  --color-brand-300: oklch(81.23% 0.08 176.4);
  --color-brand-400: oklch(75.26% 0.102 175);
  --color-brand-500: oklch(67.76% 0.108 172.87);
  --color-brand-600: oklch(57.48% 0.09 173.33);
  --color-brand-700: oklch(47.07% 0.071 174.15);
  --color-brand-800: oklch(36.3% 0.053 174.58);
  --color-brand-900: oklch(23.16% 0.031 173.5);
  --color-brand-950: oklch(17.4% 0.019 176.63);
}

.color-primary {
  color: #40ad91;
}
.color-secondary {
  color: #8a79f1;
}
.color-tertiary {
  color: #ddfe86;
}
.color-quaternary {
  color: #369c82;
}
